<div class='card'>
    <div class='card-body container'>
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="../../assets/TresEnRayaCode.jpg">
            </div>
            <div class="col-6 d-flex flex-column justify-content-center">
                <div>
                    <div><h1>3enRayaCode</h1></div>
                    <div><h2>Currency Converter</h2></div>
                    <hr>
                </div>
                <div class="m-3">
                    <div><h3>Regístrate gratis para empezar</h3></div>
                    <button class='btn btn-primary' name="Register">Registrarse</button>
                </div>
                <div class="m-3">
                    <div><h4>¿Ya tienes cuenta? Inicia sesión</h4></div>
                    <button class='btn btn-primary' name="Login">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>