<p>------ AQUI EMPIEZA EL HIJO ------------</p>

<div class="card" >
  <button (click)="onClick()">Saludar</button>
  <div class="card-header">
    {{pageTitle}} {{mensaje}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center"></div>
      <div class="text-center">
        <h3></h3>
      </div>

      <div class="text-center"></div>
      <div class="text-center"></div>
    </div>
  </div>
</div>
<p>------ AQUI ACABA EL HIJO ------------</p>
