/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.small-image {
    width: 48px;
    height: 48px;
  }

td {
    vertical-align: middle;
}

td.alinearderecha{
    text-align: right;
}


