<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input [(ngModel)]="listFilter" type='text' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class = 'table-responsive'>
      <table class='table'
             *ngIf='monedas.length'>
        <thead>
          <tr>
            <th class='col-md-1'></th>
            <th class='col-md-2'>Nombre</th>
            <th class='col-md-1'>Codigo</th>
            <th class='col-md-1'>Simbolo</th>
            <th class="alinearderecha col-md-1">Factor Conversion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let moneda of filteredMonedas'>
            <td class='col-md-1'><img class="small-image" [src]="moneda.urlImagen" [title]="moneda.name"></td>
            <td class='col-md-2'>{{ moneda.name }}</td>
            <td class='col-md-1'>{{ moneda.code }}</td>
            <td class='col-md-1'>{{ moneda.symbol }}</td>
            <td class="alinearderecha col-md-1">{{ moneda.factorConversion }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>