@{
    ViewData["Title"] = "Home Page";
    //var saludo = "hohlas";
    //var fecha = DateTime.Now;
} 
<h1>@ViewBag.saludo </h1>
<h2> Hoy es: @ViewBag.fecha</h2>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
